# Swap files
*.swp

# Python package junk
*.pyc
__pycache__

.cache

# Directories
data
literature
media/figures
media/pictures
media/policy_evaluation
media/tables


# Latex junk
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.nav
*.snm
*.toc
*.synctex(busy)
*.synctex.gz
